[client]
port=3306
default-character-set = utf8mb4

[mysqld]
bind-address            = 0.0.0.0
collation-server        = utf8mb4_unicode_ci
character-set-server    = utf8mb4
innodb_buffer_pool_size = 1G
general_log             = 0
general_log_file        = /var/log/mysql/mysql.log
log_output              = file

[mysql]
default-character-set=utf8mb4